{% extends 'base.html' %}
{% block title %}
Feedback - Submit-form
{% endblock title %}
{% block content %}

<!-- message area -->
{% if messages %}
<div class="container">
    {% for msg in messages %}
          <div class="alert {% if msg.tags %}alert-{{ msg.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
{{msg}}
<!-- X Close Button -->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
</div>
{% endfor %}
</div>
{% endif %}


<section class="py-5 bg-light">
  <div class="container text-center">
    <h1 class="display-5 fw-bold">We value your feedback</h1>
    <p class="text-muted">Tell us what we can improve.</p>
  </div>
</section>

<section class="py-5">
  <div class="container" style="max-width: 600px;">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="mb-3">Submit Feedback</h4>

        <form method="post" action="{% url 'submit_feedback' %}">
          <!-- add {% csrf_token %} for Django -->
           {% csrf_token %}

          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="name" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Email (optional)</label>
            <input type="email" class="form-control" name="email">
          </div>

          <div class="mb-3">
            <label class="form-label">Message</label>
            <textarea class="form-control" name="message" rows="4" required></textarea>
          </div>


          <button class="btn btn-primary w-100" type="submit">Send Feedback</button>
        </form>

      </div>
    </div>
  </div>
</section>
{% endblock content %}