  <!-- Bootstrap Footer for Feedback Website -->
    <footer class="bg-dark text-white pt-4 pb-4 mt-5">
      <div class="container">
        <div class="row">
          <!-- About Section -->
          <div class="col-md-4">
            <h5 class="text-uppercase">About Us</h5>
            <p>
              We value your feedback! Share your thoughts about our products,
              services, or anything you like. We're always listening to improve
              our offerings.
            </p>
          </div>

          <!-- Feedback Section -->
          <div class="col-md-4">
            <h5 class="text-uppercase">Submit Feedback</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Feedback Form</a></li>
              <li><a href="#" class="text-white">Contact Us</a></li>
            </ul>
          </div>

          <!-- Social Media Links -->
          <div class="col-md-4">
            <h5 class="text-uppercase">Follow Us</h5>
            <ul class="list-unstyled">
              <li>
                <a
                  href="https://facebook.com"
                  class="text-white"
                  target="_blank"
                  >Facebook</a
                >
              </li>
              <li>
                <a href="https://twitter.com" class="text-white" target="_blank"
                  >Twitter</a
                >
              </li>
              <li>
                <a
                  href="https://instagram.com"
                  class="text-white"
                  target="_blank"
                  >Instagram</a
                >
              </li>
              <li>
                <a
                  href="https://linkedin.com"
                  class="text-white"
                  target="_blank"
                  >LinkedIn</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Footer Bottom -->
      <div class="text-center mt-4">
        <p>&copy; 2025 Your Company. All Rights Reserved.</p>
      </div>
    </footer>